<form id='language' action="save_language" method='post'>
  <%= select_tag 'language', options_for_select( [['English','en'],['Chichewa','ny']] ),
                 {:helpText => "Select Language", :tt_onLoad => "__$('keyboard').style.display = 'none'"} %>
</form>