<style type="text/css">
  div.button{
    width: 80%;
    background-color: #bc8f8f;
    border-radius: 15px;
    margin-left:10%;
    text-align: center;
    font-size: 35px;
    cursor: pointer;

  }
</style>

<div style="width: 100%">

  <span style="font-size: 30px; font-weight: bold;">National ID Management</span>
  <hr>
</div>
<div style="width: 100%;margin-left: 20px; font-size: 25px;">
  <table width="50%">
    <tr style="background-color:silver;text-align: center ">
      <td>Category</td> <td>Count</td>
    </tr>
    <tr>
      <td>Assigned Id's</td> <td style=" width:40% "><div class="button"><%= @counts['all'] %></div></td>
    </tr>
    <tr>
      <td>Available Id's</td> <td ><div class="button"><%= @counts['available'] %></div></td>
    </tr>
    <tr>
      <td>Used Id's</td> <td> <div class="button"><%= @counts['used'] %></div></td>
    </tr>
  </table>

</div>



