body {
    font-family: "Nimbus Sans L", "Arial Narrow", sans-serif;
    overflow: hidden;
}
.table {
    display: table;
    width: 100%;
    border-spacing: 0.5em;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
    padding: 0.3em;
}

.center {
    text-align: center;
}

.middle {
    vertical-align: middle;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.heading {
    font-size: 1.5em;
    color: #6281A7
}

.borderblue {
    border: 1px solid #6281A7;
}

.fill {
    min-width: 50%;
    padding: 5px;
}

.bluetext {
    color: #6281A7
}

a:link {
    color: #6281A7;
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: #6281A7;
}
a:hover {
    text-decoration: underline;
    color: #6281A7;
}
a:active {
    text-decoration: none;
    color: #6281A7;
}

.menu_button {
    margin: 0.5%;
    cursor: pointer;
    font-size: 1em;
    font-weight: 300;
}

.menu_button.blue {
    color: #fff;
    -moz-transition: none 0s ease 0s;
    border: 0 none;
    border-radius: 15px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 5px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    padding: 14px 24px;
    background-color: #006DCC;
    background-image: -moz-linear-gradient(center top , #0088CC, #0044CC);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.menu_button.blue:active {
    -moz-user-select:none;
    -moz-user-focus:disabled;
    color: #ffffcc;
    background-color: #006DCC;
    background-image: -moz-linear-gradient(center top , #CC8800, #CC4400);
    background-repeat: repeat-x;
    border: 5px inset #000;
}

.menu_button.blue:hover {
    -moz-user-select:none;
    -moz-user-focus:disabled;
    color: #ffffcc;
    background-color: #006DCC;
    background-image: -moz-linear-gradient(center top , #CC8800, #CC4400);
    background-repeat: repeat-x;
    border: 5px inset #000;
}

.btnimg {
    float: left;
}

.btntable {
    display: table;
    width: 100%;
    margin-top: -14px;
}

.btncell {
    display: table-cell;
    padding: 0px;
    vertical-align: middle;
}

.fleft {
    float: left;
}

.fright {
    float: right;
}

.nav {
    background-color: #FFF;
    background-image: -moz-linear-gradient(center top, #6281A7, #EEE);
    background-repeat: repeat-x;
}

ul {
    padding: 0px;
}

ul li.odd {
    background-color: #ddd;
    margin: 0px;
}

ul li.even {
    background-color: #eee;
}

ul li {
    cursor: pointer;
    list-style: none;
    color: #254061;
    margin: 5px;
}

.options {
    height: 100%;
    overflow: auto;
    border: 1px solid #6281A7;
    margin-top: 10px;
    border-radius: 5px;
}

.keyboard {
    border: 1px solid #6281A7;
    bottom: 120px;
    margin: auto;
    display: table;
    border-spacing: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 5px;
    background-color: #fff;
}

.keyboard.row {
    display: table-row;
}

.keyboard.cell {
    display: table-cell;
}

.keyboard_button {
    margin: 0.5%;
    cursor: pointer;
    font-size: 1em;
    font-weight: 300;
}

.keyboard_button.blue {
    color: #fff;
    -moz-transition: none 0s ease 0s;
    border: 0 none;
    border-radius: 15px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 5px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    padding: 14px 24px;
    background-color: #006DCC;
    background-image: -moz-linear-gradient(center top , #0088CC, #0044CC);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    margin: 2px;
}

.keyboard_button.blue:active {
    -moz-user-select:none;
    -moz-user-focus:disabled;
    color: #ffffcc;
    background-color: #006DCC;
    background-image: -moz-linear-gradient(center top , #CC8800, #CC4400);
    background-repeat: repeat-x;
    border: 1px inset #000;
    margin: 1px;
}

.keyboard_button.blue:hover {
    -moz-user-select:none;
    -moz-user-focus:disabled;
    color: #ffffcc;
    background-color: #006DCC;
    background-image: -moz-linear-gradient(center top , #CC8800, #CC4400);
    background-repeat: repeat-x;
    border: 1px inset #000;
    margin: 1px;
}

div {
    -moz-user-select: none;
}
